Repository tedilabs/terraform-aws-secret, changes with the labels that .github/labeler.yaml gives for each.
All labels: :floppy_disk: kms-key, :floppy_disk: secrets-manager-secret, :floppy_disk: ssm-parameter-store-parameter, :floppy_disk: ssm-parameter-store-parameter-set, :floppy_disk: ssm-parameter-store-settings

.github/labeler.yaml:

# Modules
":floppy_disk: kms-key":
- changed-files:
  - any-glob-to-any-file:
    - modules/kms-key/**/*

":floppy_disk: secrets-manager-secret":
- changed-files:
  - any-glob-to-any-file:
    - modules/secrets-manager-secret/**/*

":floppy_disk: ssm-parameter-store-parameter":
- changed-files:
  - any-glob-to-any-file:
    - modules/ssm-parameter-store-parameter/**/*

":floppy_disk: ssm-parameter-store-parameter-set":
- changed-files:
  - any-glob-to-any-file:
    - modules/ssm-parameter-store-parameter-set/**/*

":floppy_disk: ssm-parameter-store-settings":
- changed-files:
  - any-glob-to-any-file:
    - modules/ssm-parameter-store-settings/**/*

Update dependabot
  .github/dependabot.yml
Labels: none

Update lint configurations
  .editorconfig
  .pre-commit-config.yaml
  .tflint.hcl
Labels: none

chore: update pre-commit configurations
  .pre-commit-config.yaml
  .tflint.hcl
  modules/kms-key/README.md
  modules/secrets-manager-secret/README.md
  modules/ssm-parameter-store-parameter-set/README.md
  modules/ssm-parameter-store-parameter/README.md
  modules/ssm-parameter-store-settings/README.md
Labels: :floppy_disk: kms-key, :floppy_disk: secrets-manager-secret, :floppy_disk: ssm-parameter-store-parameter, :floppy_disk: ssm-parameter-store-parameter-set, :floppy_disk: ssm-parameter-store-settings

feat(kms-key): support predefined_roles
  modules/kms-key/README.md
  modules/kms-key/access-control.tf
  modules/kms-key/main.tf
  modules/kms-key/outputs.tf
  modules/kms-key/variables.tf
  modules/kms-key/versions.tf
Labels: :floppy_disk: kms-key

feat(kms-key): support grants
  modules/kms-key/README.md
  modules/kms-key/access-control.tf
  modules/kms-key/outputs.tf
  modules/kms-key/variables.tf
Labels: :floppy_disk: kms-key

feat(kms-key): support grants (#48)
  modules/kms-key/README.md
  modules/kms-key/access-control.tf
  modules/kms-key/outputs.tf
  modules/kms-key/variables.tf
Labels: :floppy_disk: kms-key

chore: bump to v0.6.0
  VERSION
Labels: none

chore: update README.md
  README.md
Labels: none

chore: bump to v0.6.1
  VERSION
Labels: none

feat: improve how to use resource_group in modules
  modules/kms-key/outputs.tf
  modules/kms-key/resource-group.tf
  modules/kms-key/variables.tf
  modules/secrets-manager-secret/outputs.tf
  modules/secrets-manager-secret/resource-group.tf
  modules/secrets-manager-secret/variables.tf
  modules/ssm-parameter-store-parameter-set/README.md
  modules/ssm-parameter-store-parameter-set/main.tf
  modules/ssm-parameter-store-parameter-set/outputs.tf
  modules/ssm-parameter-store-parameter-set/resource-group.tf
  modules/ssm-parameter-store-parameter-set/variables.tf
  modules/ssm-parameter-store-parameter/outputs.tf
  modules/ssm-parameter-store-parameter/resource-group.tf
  modules/ssm-parameter-store-parameter/variables.tf
Labels: :floppy_disk: kms-key, :floppy_disk: secrets-manager-secret, :floppy_disk: ssm-parameter-store-parameter, :floppy_disk: ssm-parameter-store-parameter-set

feat: improve how to use resource_group in modules (#49)
  modules/kms-key/outputs.tf
  modules/kms-key/resource-group.tf
  modules/kms-key/variables.tf
  modules/secrets-manager-secret/outputs.tf
  modules/secrets-manager-secret/resource-group.tf
  modules/secrets-manager-secret/variables.tf
  modules/ssm-parameter-store-parameter-set/README.md
  modules/ssm-parameter-store-parameter-set/main.tf
  modules/ssm-parameter-store-parameter-set/outputs.tf
  modules/ssm-parameter-store-parameter-set/resource-group.tf
  modules/ssm-parameter-store-parameter-set/variables.tf
  modules/ssm-parameter-store-parameter/outputs.tf
  modules/ssm-parameter-store-parameter/resource-group.tf
  modules/ssm-parameter-store-parameter/variables.tf
Labels: :floppy_disk: kms-key, :floppy_disk: secrets-manager-secret, :floppy_disk: ssm-parameter-store-parameter, :floppy_disk: ssm-parameter-store-parameter-set

feat(kms-key): use `predefined_policies` variable instead of `predefined_roles`
  modules/kms-key/README.md
  modules/kms-key/access-control.tf
  modules/kms-key/outputs.tf
  modules/kms-key/variables.tf
Labels: :floppy_disk: kms-key

chore: update .github/auto-assign.yaml via Terraform
  .github/auto-assign.yaml
Labels: none

feat(kms-key): support aws v6
  modules/kms-key/README.md
  modules/kms-key/access-control.tf
  modules/kms-key/main.tf
  modules/kms-key/outputs.tf
  modules/kms-key/resource-group.tf
  modules/kms-key/variables.tf
  modules/kms-key/versions.tf
Labels: :floppy_disk: kms-key
